<div style="position: absolute;bottom: 30px;overflow: auto;top: 130px;width: 1100px;">
    <div style="margin-left: 40px;margin-bottom: 60px;width: 400px;height: 400px;float: left;clear: both">
        <div style="width: 500px;height: 400px">
            <div id="jssor_1" style="position: relative; margin-bottom:20px; top: 10px; left: 10px; width: 500px; height: 300px; overflow: hidden; visibility: hidden;">
        <!-- Loading Screen -->
        <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
            <div style="position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
        </div>
        <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 500px; height: 400px; overflow: hidden;">
            <div data-p="112.50" style="display: none;">
                <img data-u="image" src="img/slide/DSC08759.jpg" />
            </div>
            <div data-p="112.50" style="display: none;">
                <img data-u="image" src="img/slide/DSC08760.jpg" />
            </div>
            <div data-p="112.50" style="display: none;">
                <img data-u="image" src="img/slide/DSC08761.jpg" />
            </div>
            <div data-p="112.50" style="display: none;">
                <img data-u="image" src="img/slide/DSC08762.jpg" />
            </div>
            <a data-u="ad" href="http://www.jssor.com" style="display:none">jQuery Slider</a>
        
        </div>
        <!-- Bullet Navigator -->
        <div data-u="navigator" class="jssorb05" style="bottom:16px;right:16px;" data-autocenter="1">
            <!-- bullet navigator item prototype -->
            <div data-u="prototype" style="width:16px;height:16px;"></div>
        </div>
        <!-- Arrow Navigator -->
        <span data-u="arrowleft" class="jssora12l" style="top:0px;left:0px;width:30px;height:46px;" data-autocenter="2"></span>
        <span data-u="arrowright" class="jssora12r" style="top:0px;right:0px;width:30px;height:46px;" data-autocenter="2"></span>
    </div>

        <div style="width: 400px;height: 100px">
            <div class="box boxForm">
                <h3>Login / Registo</h3>
                <div class="inner">
                    <form action="index.php/login" method="post" name="loginForm" autocomplete="off" class="loginForm">
                        <div>           
                            <input type="hidden" value="/web/error.html" name="loginNotOk"/>
                            <input type="hidden" value="/web/login.html" name="customLoginPage"/>
                        </div>
                        <fieldset>
                            <label accesskey="u" for="username">Utilizador</label>
                            <input type="text" id="username" name="numero" size="12" maxlength="255" tabindex="1"/>
                            <label accesskey="p" for="password">Senha</label>
                            <input type="password" id="password" name="pass" size="12" maxlength="255" tabindex="2"/>
                            <input type="image" name="sub" id="Enter" alt="Entrar" tabindex="3" src="img/btnSubmit.gif" class="goButton"/>
                        </fieldset>
                    </form>
                    <ul>
                        <li><a href="index.php/signin" title="Clique aqui para se registar!">Clique aqui para se registar!</a></li>
                        <li><a href="index.php/lostpass" title="Esqueceu-se da sua senha?">Esqueceu-se da sua senha?</a></li>
                    </ul>
                </div>
            </div>
        </div>
</div>

        

    </div>
    <div style="margin-right: 50px;margin-bottom: 10px;width: 400px;height: 400px;float: right">
        <div id="feed" onmouseout="hidescrooll()" onmouseover="showscroll(this)" style="overflow: hidden; width: 400px;height: 300px;">
            <?php $dao = new FeedDao(); 
            $feeds= $dao->getAll();
            ?>
            <?php foreach ($feeds as $feed): ?>
            <?php if($feed['publicar']==1): ?>
            <ul id="noticias"><li><a href="index.php?noticia=<?php echo $feed['id'] ?>" title="<?php echo $feed['descricao']; ?>" tabindex="48">        
                        <span class="data"><?php echo $feed['data']; ?></span>        
                        <span class="cat"><?php echo $feed['titulo']; ?></span>        
                        <span class="desc"><?php echo $feed['descricao']; ?></span>
                    </a></li>
            </ul>
            <?php endif; ?>
            <?php endforeach; ?>

        </div>
        <div style="width: 400px;height: 100px;">Grupos de trabalho</div>
    </div>
</div>