<div style="position: absolute;bottom: 30px;overflow: auto;top: 130px;width: 1100px;">
    <div style="margin-left: 50px;margin-bottom: 10px;width: 400px;height: 400px;float: left;clear: both">
        <div style="width: 400px;height: 300px">Apressentação</div>

        <!-- Log in Form -->

        <div style="width: 400px;height: 100px">
            <div class="box boxForm">
                <h3>Login / Registo</h3>
                <div class="inner">
                    <form action="index.php/login" method="post" name="loginForm" autocomplete="off" class="loginForm">
                        <div>			
                            <input type="hidden" value="/web/error.html" name="loginNotOk"/>
                            <input type="hidden" value="/web/login.html" name="customLoginPage"/>
                        </div>
                        <fieldset>
                            <label accesskey="u" for="username">Utilizador</label>
                            <input type="text" id="username" name="numero" size="12" maxlength="255" tabindex="1"/>
                            <label accesskey="p" for="password">Senha</label>
                            <input type="password" id="password" name="pass" size="12" maxlength="255" tabindex="2"/>
                            <input type="image" name="sub" id="Enter" alt="Entrar" tabindex="3" src="../img/btnSubmit.gif" class="goButton"/>
                        </fieldset>
                    </form>
                    <ul>
                        <li><a href="index.php/signin" title="Clique aqui para se registar!">Clique aqui para se registar!</a></li>
                        <li><a href="index.php/lostpass" title="Esqueceu-se da sua senha?">Esqueceu-se da sua senha?</a></li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
    <div style="margin-right: 50px;margin-bottom: 10px;width: 400px;height: 400px;float: right">
        <div id="feed" onmouseout="hidescrooll()" onmouseover="showscroll(this)" style="overflow: hidden; width: 400px;height: 300px;">
            <?php $dao = new FeedDao(); 
            $feeds= $dao->getAll();
            ?>
            <?php foreach ($feeds as $feed): ?>
            <?php if($feed['publicar']==1): ?>
            <ul id="noticias"><li><a href="index.php?noticia=<?php echo $feed['id'] ?>" title="<?php echo $feed['descricao']; ?>" tabindex="48">        
                        <span class="data"><?php echo $feed['data']; ?></span>        
                        <span class="cat"><?php echo $feed['titulo']; ?></span>        
                        <span class="desc"><?php echo $feed['descricao']; ?></span>
                    </a></li>
            </ul>
            <?php endif; ?>
            <?php endforeach; ?>

        </div>
        <div style="width: 400px;height: 100px;">Grupos de trabalho</div>
    </div>
</div>