/* 
    Document   : relatorio
    Created on : 20/Jan/2016, 23:09:12
    Author     : renato
    Description:
        Purpose of the stylesheet follows.
*/

.celula{
    background-color: transparent;
}
.celula:hover{
    background-color: red;
}

#MatrixTable input{
    width: 50px;
}
#MatrixTable label{
    margin:0px;
    padding: 0px;
}

td{
    padding: 0px;
}
td label{
    width: 0px;
    padding: 0px;
    line-height: 14px;
}

.titulo{
    width: 0px;
    padding: 0px;
    line-height: 14px;
}

.picker{
    width: 100%;
    height: 100%;
    z-index: 50;
    position: absolute;
    top: 0;
    left: 0;
}

.choose_box{
    height: 14px;
    width: 14px;
    border: 1px solid;
    float:right;
}

noBorder  {border: 0; }
.draggable {z-index: 90;  }
.draggable:hover{cursor: move;border: 1px solid #ccc}
.draggable label{float:none;line-height: 18px;padding-bottom: 8px;font-weight: bold;color: black;}
.relatrio-manobra label{float:none;line-height: 18px;padding-bottom: 8px;font-weight: bold;color: black;}
#containment-wrapper { width: 750px; height:1150px; border:2px solid #ccc;margin-top: 30px;  }

