.tabs_headers{
    width: 60px;
    height: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: center;
    z-index: 10;
}

.tabs_headers label:hover{
    color:#F37020;
}

.tabs_headers_slected{
    width: 60px;
    height: 20px;
    border: 1px solid #F37020;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color:  white;
    text-align: center;
    border-bottom: none;
    z-index: 10;
}

.tabs_headers label{
    padding:0px;
    width:58px
    
}
.tabs_headers_slected label{
    padding:0px;
    width:58px
}
.tabs{
    display:-ms-flexbox;
    display: flex;
}
.tabs_content{
    margin-bottom: 5px;
    width: 860px;
    position: relative;
    border-top: 1px solid #F37020;
    margin-top: -1px;
}

